:root {
    --primary-color: #6F23FF;
    --secondary-color: #3E396B;
}

/* card1*/
section > div > .cardSection1 {
    background-color: var(--primary-color);
    align-content: center;
    padding: 16px;
}

/* card2*/
section > div > .cardSection2 {
    background-color: var(--secondary-color);
    align-content: center;
    padding: 16px;
}

section > div > img {
    display: inline-block;
    vertical-align: middle;
}

/*h1 tag*/
section > div > div {
    --secondary-color: var(--secondary-color);
    font-family: " Domine", serif;
    font-size: 36px;
    color: #3E396B;
    margin-bottom: 1rem;
    margin: 0px 0px 16px;
    font-weight: 450;
    line-height: 53px;
}

/*p tag*/
section > div > p {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    color: #061C3D;
    font-size: 1.25rem;
}

/*card-1*/
section > div > .cardSection1 {
    text-align: left;


}


/*card-2*/
section > div > .cardSection2 {
    text-align: left;
    background-color: #3E396B;
}

/*card-1 h1 tag*/
section > div > .cardSection1 {
    font-family: 'Domine', serif;
    font-size: 24px;
}

.cardSection1 > div > p {
    font-size: 18px;
    font-family: "Monserrat", serif;
}

.cardSection1 > div > h1 {
    font-size: 24px;
    font-family: "Domine", serif;
}

.cardSection2 > div > h1 {
    font-size: 25px;
    font-family: "Domine", serif;
}

.cardSection2 > div > p {
    font-size: 18px;
    font-family: "Monserrat", serif;

}