:root {
    --primary-color: #6F23FF;
    --secondary-color: #3E396B;
}


section > div > img {
    display: inline-block;
    vertical-align: middle;
}

/*h1 tag*/
section > div > div {
    --secondary-color: var(--secondary-color);
    font-family: " Domine", serif;
    font-size: 36px;
    color: #3E396B;
    margin-bottom: 1rem;
    margin: 0px 0px 16px;
    font-weight: 450;
    line-height: 53px;
}

/*p tag*/
section > div > p {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    color: #061C3D;
    font-size: 1.25rem;
}

/*card-1*/
section > div > div > .cardSection1 {
    background-color: #6F23FF;

}


/*card-2*/
section > div > div > .cardSection2 {
    background-color: #3E396B;
}

/*card-1 h1 tag*/
section > div > .cardSection1 {
    font-family: 'Domine', serif;
    font-size: 24px;
}

.cardSection1 > div > p {
    font-size: 1.13rem;
    font-family: "Monserrat", serif;
    line-height: 1.5em;
}

.cardSection1 > div > h1 {
    font-size: 24px;
    font-family: "Domine", serif;
    line-height: 1.5em;
    font-weight: 700;
}

.cardSection2 > div > h1 {
    font-size: 24px;
    font-family: "Domine", serif;
    line-height: 1.5em;
    font-weight: 700;
}

.cardSection2 > div > p {
    font-family: "Monserrat", serif;
    font-size: 1.5rem;
    line-height: 1.5em;
}